<ul class="nav nav-pills nav-stacked menus">
    <li class="menu" ng-repeat="menu in menus" title="{{menu.name}}" ui-sref-active="active">
        <a ng-click="toggleMenuOpen(menu)"><i class="fa fa-{{menu.icon}}"></i>{{menu.name}}
            <i class="fa pull-right" ng-class="{true: 'fa-chevron-down', false: 'fa-chevron-right'}[menu.isMenuOpen]"></i>
        </a>
        <ul class="nav nav-pills nav-stacked sub-menus" ng-class="{false: 'hidden'}[menu.isMenuOpen]" ng-if="menu.subMenus.length>0">
            <li class="sub-menu" ng-repeat="subMenu in menu.subMenus" ui-sref-active="active"
                title="{{subMenu.name}}">
                <a ui-sref="{{subMenu.state}}"><i class="fa fa-{{subMenu.icon}}"></i>{{subMenu.name}}</a>
            </li>
        </ul>
    </li>
</ul>
