<nav class="navbar navbar-inverse navbar-fixed-top m-nav" ng-controller="HeaderCtrl">
    <div class="g-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">云音乐</a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/#/">发现音乐</a></li>
                <li><a href="/#/myMusic">我的音乐</a></li>
                <li><a href="/#/admin">管理中心</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right" ng-controller="DropdownCtrl">
                <div class="dropdown" uib-dropdown is-open="status.isopen">
                    <!--<a id="single-button" type="button" href="#" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">-->
                        <!--登录<span class="caret"></span>-->
                    <!--</a>-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" uib-dropdown-toggle ng-disabled="disabled">登录<span class="caret"></span></a>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/#/login">登录</a></li>
                        <li role="menuitem"><a href="/#/register">注册</a></li>
                    </ul>
                </div>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </nav>
    </div>
</nav>