/**
 * Created by 郑树聪 on 2016/4/7.
 */
#g-myMusic {

    .menu {

        .menu-title {

            & > .fa {
                width: 20px;
                height: 20px;
            }

            button {
                height: 22px;
                line-height: 16px;

                .fa {
                    vertical-align: middle;
                    font-size: 14px;
                    color: #AE0A0A;
                }
            }
        }

        .sub-menu {
            position: relative;
            padding: 6px 0 6px 20px;
            cursor: pointer;

            &.active {
                background-color: rgba(51, 51, 51, 0.1);
            }

            &:hover  {
                background-color: rgba(51, 51, 51, 0.1);

                & > .oper {
                    display: block !important;

                    .fa:hover {
                        opacity: 1;
                    }
                }
            }
            a {
                padding: 0;
            }
            p {
                margin-bottom: 0;
                &.num {
                    color: #333;
                }
            }
            .avatar {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            .oper {
                position: absolute;
                right: 5px;
                bottom: 5px;
                color: #222;
                .fa {
                    font-size: 16px;
                    opacity: .6;
                }
            }
        }
    }

    .g-content {
        padding: 20px 0;

        .media {
            padding: 0 20px;
            margin-bottom: 20px;

            .media-object {
                width: 120px;
                height: 120px;
            }

            .media-body {

                .media-heading {
                    height: 32px;
                    line-height: 32px;
                    font-size: 16px;
                }
                .btns {

                    .fa {
                        margin-right: 5px;
                    }
                }
            }
        }

        .playlist-songs {

            .title {
                height: 32px;
                border-bottom: 2px solid #AE0A0A;
                line-height: 32px;
                text-indent: 20px;
                font-size: 18px;
                font-weight: bold;

                span {
                    padding-left: 10px;
                    padding-right: 10px;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: normal;
                    color: #c0c0c0;
                }
                .play-count {
                    .count {
                        color: #AE0A0A;
                    }
                }
            }

            .table {

                th,
                td {
                    &:first-child {
                        width: 80px;
                    }
                }

                th {
                    &:not(:last-child) {
                        border-right: 1px solid #ddd;
                    }
                }

                tr:last-child {
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
}
