<!-- MyMusic view -->
<header ng-include="'app/views/Header/header.html'" class="g-header" ng-controller="HeaderCtrl"></header>
<div class="g-body">
    <div id="g-admin" class="g-container container clearfix" ng-controller="AdminCtrl">
        <div class="g-menu sidebar-nav navbar-collapse collapse pull-left" data-ng-init="loadMenus()">
            <show-admin-menu menus="adminMenus" pages="pages"></show-admin-menu>
        </div>
        <div class="g-content pull-left {{pages.page}}" ng-include="pages.pageUrl" autoscroll></div>
    </div>
</div>
<footer ng-include="'app/views/Templates/footer.html'" class="g-footer"></footer>

<!-- userInfo.html -->
<script type="text/ng-template" id="userInfo.html">
    <div class="info" ng-controller="InfoCtrl">
        <div class="base-info clearfix">
            <span class="username">
                {{userInfo.username}}
                <i class="fa" ng-if="userInfo.sex != 0" ng-class="{1: 'fa-mars', 2: 'fa-venus'}[userInfo.sex]"></i>
            </span>
            <!--<a href="/#/admin?page=editInfo" type="button" class="btn btn-info btn-sm pull-right">编辑个人资料</a>-->
        </div>
        <div class="other-info">
            <p class="info">个人介绍：{{userInfo.info}}</p>
            <p><span class="area">所在地区：{{userInfo.area}}</span><span class="birth">生日：{{userInfo.birth}}</span></p>
        </div>
    </div>
    <div class="list">
        <nav class="edit-info-title">听歌排行</nav>
    </div>
</script>

<!-- editInfo.html -->
<script type="text/ng-template" id="editInfo.html">
    <nav class="edit-info-title">编辑个人资料</nav>
    <form class="form-horizontal clearfix" ng-controller="InfoCtrl">
        <div class="form-group">
            <label for="username">昵称</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" id="username" placeholder="昵称" ng-model="userInfo.username">
            </div>
        </div>
        <div class="form-group">
            <label>性别</label>
            <span class="sex-radio">
                <label class="radio-inline">
                    <input type="radio" name="sexRadio" id="sex-mars" value="1"
                           ng-model="userInfo.sex" ng-checked="userInfo.sex == 1"> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sexRadio" id="sex-venus" value="2"
                           ng-model="userInfo.sex" ng-checked="userInfo.sex == 2"> 女
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sexRadio" id="sex-secret" value="0"
                           ng-model="userInfo.sex" ng-checked="userInfo.sex == 0"> 保密
                </label>
            </span>
        </div>
        <div class="form-group">
            <label for="">生日</label>
            <span class="input-group date">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </span>
        </div>
        <div class="form-group">
            <label for="info">个人简介</label>
            <div>
                <textarea id="info" class="form-control" rows="6" cols="40" name="info"
                          placeholder="个人简介" ng-model="userInfo.info">{{userInfo.info}}</textarea>
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="updateUserInfo()">更新</button>
    </form>
</script>

<!-- singers.html -->
<script type="text/ng-template" id="singers.html">
    Content of singers.html
</script>

<!-- albums.html -->
<script type="text/ng-template" id="albums.html">
    Content of albums.html
</script>

<!-- songs.html -->
<script type="text/ng-template" id="songs.html">
    Content of songs.html
</script>

<!-- uploadMusic.html -->
<script type="text/ng-template" id="uploadMusic.html">
    Content of uploadMusic.html
</script>

<!-- users.html -->
<script type="text/ng-template" id="users.html">
    Content of users.html
</script>

<!-- admins.html -->
<script type="text/ng-template" id="admins.html">
    Content of admins.html
</script>

<!-- supAdmins.html -->
<script type="text/ng-template" id="supAdmins.html">
    Content of supAdmins.html
</script>
