/**
 * Created by 郑树聪 on 2016/3/10.
 */
.singers,
.albums {
    .breadcrumb {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .edit-bars {

        .btn {
            margin: 10px 0 10px 10px;
        }
    }
}
// 个人中心样式
.userInfo {

    .user-info {

        .base-info {
            height: 52px;
            padding: 10px;
            border-bottom: 1px solid #e7e7e7;
            line-height: 42px;
        }
        .other-info {
            padding: 10px;
            font-size: 13px;
            color: #666;

            .area {
                padding-right: 48px;
            }
        }

        .username {
            font-size: 18px;
            font-weight: bold;

            .fa {
                padding-left: 10px;
                font-weight: bold;
            }
            .fa-mars {
                color: #25A5E3;
            }
            .fa-venus {
                color: #FFB4D2;
            }
        }
    }

    .list {
        padding-left: 10px;

        .list-title {
            height: 32px;
            border-bottom: 1px solid #e7e7e7;
            margin-bottom: 10px;
            line-height: 32px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

// 编辑资料样式
.editInfo {

    label {
        font-weight: normal;
    }
    textarea[name="info"] {
        overflow-x: hidden;
        overflow-y: auto;
        resize: none;
    }

    .edit-info-title {
        height: 32px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 10px;
        line-height: 32px;
        font-size: 18px;
        font-weight: bold;
    }

    .sex-radio {
        padding-left: 12px;

        .radio-inline {
            padding-top: 0;
        }
    }

    .username,
    .birth,
    .area {
        height: 34px;
        line-height: 34px;
    }

    .username,
    .birth {

        .input-group {
            width: 320px;
            padding-left: 12px;
        }
    }

    .area {

        .input-group {
            padding-left: 12px;
        }

        select.form-control {
            width: 120px;
            margin-right: 10px;
            text-align: center;
        }
    }

}

// 歌手列表样式
.singers {

    .table {

        th,
        td {
            text-align: center;

            &:first-child {
                width: 30px;
            }
            &:nth-child(2) {
                width: 100px;
            }
            &:nth-child(3) {
                width: 160px;
            }
            &:nth-child(5) {
                width: 120px;
            }
        }
        .singer-name-td {
            cursor: pointer;
        }
    }

    .singerHandle {

        .singerName {
            height: 34px;
            line-height: 34px;

            .input-group {
                width: 320px;
                padding-left: 12px;
            }
        }
    }
}
