/**
 * 页面底部样式
 * Created by 郑树聪 on 2016/3/4.
 */
.g-footer {
    width: 100%;
    margin-bottom: 50px;
    color: #777;
    line-height: 1;
    text-align: center;

    .copyright {
        padding: 18px 0;
        background-color: #2F3030;

        p{
            margin: 0;
        }
    }
}