<!DOCTYPE html>
<html lang="en" ng-app="musicApp">
<head>
    <!--<base href="/">-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="./app/styles/vendor.min.css">
    <link rel="stylesheet" href="./app/styles/app.min.css">
    <script src="./app/scripts/vendor.bundle.min.js"></script>
</head>
<body>
    <div class="wrap" ng-view></div>

    <!-- bower:js -->
    <!-- endbower -->
    <script src="./app/scripts/app.bundle.min.js"></script>
</body>
</html>