<!-- login view -->
<div class="user-container">
    <div class="user-row row">
        <div class="logo col-sm-4 col-sm-offset-4">
            <a href="index.html">
                <!--<img class="logo" src="img/logo-white.png">-->
                云音乐
            </a>
        </div>
        <div class="login-form col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>请登录:</h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="form-body">
                <form class="form-horizontal" ng-controller="UserCtrl">
                    <div class="form-group">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                            <input ng-model="email" type="text" class="form-control"
                                   id="email" name="email" placeholder="请输入邮箱" required
                                   uib-tooltip={{message}} tooltip-is-open="emailTooltipIsOpen" tooltip-placement="right">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                            <input ng-model="password" type="password" class="form-control"
                                   id="password" name="password" placeholder="请输入密码" required>
                        </div>
                    </div>
                    <div class="form-options clearfix">
                        <a class="pull-right" href="#">忘记密码?</a>
                    </div>
                    <div class="form-group">
                        <button ng-click="login(email, password)" type="submit"
                                class="btn btn-primary btn-block" id="login0">登录</button>
                    </div>
                </form>
            </div>
            <div class="form-bottom">
                <p class="signup">
                    还没有账号? <a href="/#/register">现在注册</a>
                </p>
            </div>
        </div>
    </div>
</div>