/**
 * Created by 郑树聪 on 2016/2/29.
 */
/* header */
$userBarHeight: 120px;

.g-header {
    .m-nav {
        background-color: #2F3030;
        box-shadow: 0 0 16px 0 rgba(50,50,50,.6);
    }

    .navbar-header {

        .navbar-brand {
            color: #fff;

            .glyphicon-music {
                top: 0;
                vertical-align: middle;
            }
        }
    }

    .m-sub-nav,
    .user-info {

        a {
            color: #fff;
            background-color: #2F3030;
        }

        li {
            &:hover,
            &.active,
            &.active > a,
            & > a:focus,
            & > a:hover {
                color: #fff;
                background-color: #000;
            }
        }
    }

    .user-bar {
        width: $userBarHeight;

        ul.login-box {
            padding: 0;

            li {
                float: left;
                width: 58px;
                height: 30px;
                margin-top: 10px;
                border-radius: 6px;
                line-height: 26px;
                cursor: pointer;

                &.login {
                    margin-right: 4px;
                }

                a {
                    padding: 0 5px;
                    font-size: 14px;
                    color: #fff;
                    text-decoration:none;

                    &:hover {
                        color: #2980b9;
                    }
                }
            }
        }

        ul.user-info {

            .dropdown {

                & > a {
                    width: $userBarHeight;
                    @include text-overflow;
                }
            }

            .dropdown-menu {
                width: $userBarHeight;
                min-width: $userBarHeight;
                border: none;
                color: #fff;
                background-color: #2F3030;

                i.fa {
                    padding-right: 6px;
                }
            }
        }
    }

    .m-search {

        .form-group {
            border-radius: 17px;
            overflow: hidden;
            background-color: #EAEAEA;

            .glyphicon-search {
                top: 0;
                margin-left: 14px;
                vertical-align: middle;
            }

            input {
                padding-left: 32px;
                border: none;
                margin-left: -32px;
                background-color: #EAEAEA;
            }
        }
    }

}
/* header ends */