<div class="g-grid" ng-controller="PageTableCtrl" ng-init="getSingers()">
    <nav class="title">歌手</nav>
    <div class="clearfix items">
        <div class="item pull-left" ng-repeat="item in singers" ng-click="goSinger(item.id)">
            <div class="thumbnail">
                <img ng-src="{{item.first_mp3_img || defaultSongImg}}">
                <div class="caption"><span>{{item.singer_name}}</span></div>
            </div>
        </div>
    </div>
    <uib-pagination ng-if="pagination.totalItems>0" total-items="pagination.totalItems" ng-model="pagination.currPage"
                    max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                    class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;" boundary-links="true" force-ellipses="true"
                    ng-change="pageChanged(getSingers)"></uib-pagination>
</div>
