<nav class="navbar navbar-inverse m-nav" data-ng-init="load()">
    <div class="container g-container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
            云音乐
        </a>
        <nav class="collapse navbar-collapse">
            <ul id="m-sub-nav" class="nav navbar-nav m-sub-nav" on-finish-render-filters="Complete">
                <li class="item" ng-repeat="item in items" ui-sref-active="active">
                    <a ui-sref="{{item.state}}">{{item.name}}</a>
                    <span class="triangle-up" ng-show="isActive(item.state)"></span>
                </li>
            </ul>
            <div class="user-bar pull-right">
                <login-box ng-if="!isLogin"></login-box>
                <user-info-box ng-if="isLogin"></user-info-box>
            </div>
            <form class="navbar-form pull-right m-search" role="search">
                <div class="form-group">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" class="form-control" placeholder="单曲/歌手/专辑/歌单">
                </div>
            </form>
        </nav>
    </div>
    <nav class="sub-navbar">
        <ul class="nav nav-pills clearfix home-sub-nav" ng-if="isHome">
            <li ng-repeat="item in subNavbarItems" ui-sref-active="active"
                ng-class="{'active': item.state === 'home.topList' && isHome}">
                <a ui-sref="{{item.state}}">{{item.name}}</a>
            </li>
        </ul>
    </nav>
</nav>
