<!-- MyMusic view -->
<header ng-include="'app/views/Header/header.html'" class="g-header" ng-controller="HeaderCtrl"></header>
<div class="g-body">
    <div id="g-myMusic" class="container g-container" ng-controller="MyMusicCtrl">
        <div class="g-menu sidebar-nav navbar-collapse collapse pull-left" data-ng-init="loadPlaylists()">
            <ul class="nav nav-pills nav-stacked menus">
                <li class="menu" title="创建的歌单">
                    <a class="menu-title" ng-click="toggleMenuOpen('isCreateMenuOpen')">
                        <i class="fa" ng-class="{true: 'fa-chevron-down', false: 'fa-chevron-right'}[isCreateMenuOpen]"></i>
                        创建的歌单
                        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="open(true)">
                            <i class="fa fa-plus"></i>新建
                        </button>
                    </a>
                    <ul class="nav nav-pills nav-stacked sub-menus" ng-class="{false: 'hidden'}[isCreateMenuOpen]">
                        <li class="sub-menu" ng-repeat="createPlaylist in createPlaylists"
                            ng-class="{active: locationId===createPlaylist.id}"
                            title="{{createPlaylist.playlist_name}}" ng-click="changeUrl(createPlaylist, 'isCreateMenuOpen')">
                            <div class="media">
                                <div class="avatar media-left">
                                    <a href="javascript:void(0);">
                                        <img class="media-object" width="40" height="40"
                                             ng-src="{{createPlaylist.first_mp3_img || 'http://localhost:3000/app/images/default_song_img.jpg'}}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading">{{createPlaylist.playlist_name}}</p>
                                    <p class="num">{{createPlaylist.song_count}}首</p>
                                </div>
                            </div>
                            <span class="hidden oper">
                                <i title="编辑" class="fa fa-edit" ng-click="open(false, createPlaylist)"></i>
                                <i title="删除" class="fa fa-trash-o"></i>
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="menu" title="收藏的歌单">
                    <a class="menu-title" ng-click="toggleMenuOpen('isCollectMenuOpen')">
                        <i class="fa" ng-class="{true: 'fa-chevron-down', false: 'fa-chevron-right'}[isCollectMenuOpen]"></i>
                        收藏的歌单
                    </a>
                    <ul class="nav nav-pills nav-stacked sub-menus" ng-class="{false: 'hidden'}[isCollectMenuOpen]">
                        <li class="sub-menu" ng-repeat="collectPlaylist in collectPlaylists"
                            ng-class="{active: locationId===collectPlaylist.id}"
                            title="{{collectPlaylist.playlist_name}}" ng-click="changeUrl(collectPlaylist, 'isCollectMenuOpen')">
                            <div class="media">
                                <div class="avatar media-left">
                                    <a href="javascript:void(0);">
                                        <img class="media-object" width="40" height="40"
                                             ng-src="{{collectPlaylist.first_mp3_img || 'http://localhost:3000/app/images/default_song_img.jpg'}}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading">{{collectPlaylist.playlist_name}}</p>
                                    <p class="num">{{collectPlaylist.song_count}}首</p>
                                </div>
                            </div>
                            <span class="hidden oper">
                                <i title="删除" class="fa fa-trash-o"></i>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="g-content pull-left" autoscroll>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="javascript:void(0);">
                        <img class="media-object img-thumbnail"
                             ng-src="{{currPlaylistInfo.first_mp3_img || 'http://localhost:3000/app/images/default_song_img.jpg'}}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{currPlaylistInfo.playlist_name}}</h4>
                    <p class="info">
                        介绍：{{currPlaylistInfo.playlist_info}}
                    </p>
                    <div class="btns">
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa fa-play-circle"></i>播放
                        </button>
                        <!--<button type="button" class="btn btn-default btn-sm">收藏</button>-->
                    </div>
                </div>
            </div>
            <div class="playlist-songs">
                <nav class="title">歌曲列表
                    <span class="song-num">{{currPlaylistSongs.length}}首</span>
                    <span class="pull-right play-count">播放：<b class="count">{{currPlaylistSongs.length}}</b>次</span>
                </nav>
                <table id="playlist-song-table" class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>歌曲名</th>
                            <th>所属歌手</th>
                            <th>所属专辑</th>
                            <!--<th>出版日期</th>-->
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currPlaylistSong in currPlaylistSongs">
                            <td>{{$index + 1}}</td>
                            <td class="name-td" ng-click="goToSingerPage(currPlaylistSong.id)">{{currPlaylistSong.song_name}}</td>
                            <td>{{currPlaylistSong.singer_name}}</td>
                            <td>{{currPlaylistSong.album_name}}</td>
                            <!--<td>{{currPlaylistSong.publish_date}}</td>-->
                            <td>
                                <i class="fa fa-play-circle" ng-click="play(currPlaylistSong.url)"></i>
                                <i class="fa fa-trash" ng-click="deleteSinger(currPlaylistSong.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer ng-include="'app/views/Templates/footer.html'" class="g-footer"></footer>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">添加歌单</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="playlist-name" class="col-sm-2 control-label">歌单名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="playlist-name" placeholder="歌单名"
                           ng-model="playlist.playlist_name">
                </div>
            </div>
            <div class="form-group">
                <label for="playlist-info" class="col-sm-2 control-label">歌单介绍</label>
                <div class="col-sm-10">
                    <textarea id="playlist-info" class="form-control" rows="4" name="playlist-info"
                              placeholder="歌单介绍" ng-model="playlist.playlist_info"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
