/**
 * Created by 郑树聪 on 2016/4/13.
 */
$title-border-bottom: 2px solid #AE0A0A;

.g-body {

    .g-search {
        padding: 40px;

        .row {
            margin: 0;
        }

        .m-search {
            margin-bottom: 20px;

            input,
            button {
                height: 40px;
            }
        }
        .result-overview {
            font-size: 12px;
            font-style: normal;
            color: #999;

            em {
                font-style: normal;
                color: #c20c0c;
            }
        }
        .search-results {
            margin-top: 20px;
            text-align: center;

            .nav-tabs {
                border: 1px solid #ddd;
                border-top: none;
                margin-bottom: 24px;
                background-color: #F7F7F7;

                .active {

                    &>a {
                        border: 1px solid #ddd;
                        border-top: 2px solid #c20c0c;
                        border-bottom: 0;
                        background-color: #fff;
                    }
                }

                li {

                    &:first-child {

                        a {
                            border-left: none !important;
                        }
                    }
                    &:last-child {

                        a {
                            border-right: none !important;
                        }
                    }

                    &>a {
                        border: none;
                        border-top: 2px solid #ccc;
                        border-radius: 0;

                        &:hover {
                            border-top-color: #c20c0c;
                            background-color: #fff;
                        }
                    }
                }
            }

            .tab-content {
                padding: 0 84px;

                .fa {
                    padding: 0 6px;
                    vertical-align: middle;
                    font-size: 20px;
                    color: #999;
                    cursor: pointer;

                    &:hover {
                        color: #666;
                    }
                }

                .list-row {
                    height: 40px;
                    padding: 0;
                    border: 1px solid transparent;
                    line-height: 38px;
                    text-align: center;
                    font-size: 12px;
                    background-color: transparent;

                    &:nth-child(odd) {
                        background-color: #eee;
                    }
                    &:hover {
                        border: 1px solid #ddd;
                        background-color: #ddd;
                    }

                    .list-col {

                        &:nth-child(2) {
                            text-align: left;
                        }
                    }
                }

                .g-grid {
                    .title {
                        height: 32px;
                        border-bottom: $title-border-bottom;
                        margin-bottom: 10px;
                        line-height: 32px;
                        text-indent: 10px;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    .items {

                        .item {
                            width: 184px;
                            padding: 0 10px;
                            cursor: pointer;

                            .thumbnail {
                                position: relative;

                                img {
                                    width: 164px;
                                    height: 154px;
                                }

                                .caption {
                                    width: 154px;
                                    padding: 5px 5px 0;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    table {
                        margin-bottom: 0;

                        td {
                            width: 142px;
                            border: none;
                            line-height: 40px;
                            text-align: left;

                            &:first-child,
                            &:nth-child(2) {
                                width: 60px;
                                text-align: center;
                            }
                            &:nth-child(3) {
                                width: 230px;
                            }
                            &:nth-child(4) {
                                text-align: center;
                            }
                            &:nth-child(5) {
                                width: 160px;
                            }

                            a.img {
                                display: block;
                                margin: 0;

                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                float: none !important;
            }
        }
    }
}

