/**
 * Created by 郑树聪 on 2016/3/1.
 */
$g-container-width: 1170px;
$g-menu-width: 240px;

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

.wrap {

}

.g-body {

    .g-container {
        width: $g-container-width;
        min-height: 700px;
        _height: 700px;
        padding: 0;
        margin-top: 10px;
        background-color: #F8F8F8;

        .g-menu {
            width: $g-menu-width;
            padding: 0;
            border-right: 1px solid #e7e7e7;
        }

        .g-content {
            width: ($g-container-width)-($g-menu-width);
        }
    }
}

@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
