<div id="g-player" class="navbar-fixed-bottom g-player" ng-init="plaer.listShow=false">
    <div id="m-player" class="container clearfix g-container m-player">
        <!-- 播放控制按钮 -->
        <div class="pull-left player-btns" ng-init="player.playing=false">
            <span class="prev" title="上一首" ng-click="player.prev()"><i class="fa fa-step-backward"></i></span>
            <span class="play" title="播放" ng-click="player.play()" ng-show="!player.playing"><i class="fa fa-play"></i></span>
            <span class="stop" title="暂停" ng-click="player.stop()" ng-show="player.playing"><i class="fa fa-stop"></i></span>
            <span class="next" title="下一首" ng-click="player.next()"><i class="fa fa-step-forward"></i></span>
        </div><!-- 播放控制按钮 end -->
        <!-- 音乐图片 -->
        <div class="pull-left player-img">
            <img ng-src="{{defaultSongImg}}">
        </div><!-- 音乐图片 end -->
        <!-- 播放器滚动条 -->
        <div class="pull-left player-bar">
            <div class="music-info">

            </div>
            <div class="m-progress">
                <div class="progress pull-left">
                    <div class="progress-bar progress-bar-played" style="width: 35%"></div>
                    <div class="progress-bar progress-bar-loaded" style="width: 20%"></div>
                </div>
                <span class="music-time"><em>01:13</em> / 04:34</span>
            </div>
        </div><!-- 播放器滚动条 end -->
        <!-- 播放器音量、列表控制 -->
        <div class="pull-left player-ctrl">

        </div><!-- 播放器音量、列表控制 end -->
    </div>
    <div id="m-list" class="container g-container m-list" ng-show="player.listShow"></div>
</div>
