<div class="clearfix edit-bars">
    <form class="navbar-form pull-left m-search" role="search">
        <div class="form-group">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <input type="text" class="form-control" placeholder="查找歌手" ng-keypress="search($event)">
        </div>
    </form>
    <button class="btn btn-danger btn-sm pull-right" ng-click="deleteSinger()">删除选中的歌手</button>
    <a ui-sref="admin.singers.addSinger" class="btn btn-info btn-sm pull-right" role="button">添加歌手</a>
</div>
<div class="item-table" ng-controller="PageTableCtrl">
    <table id="singer-table" class="table table-condensed table-striped table-hover"
           ng-init="getSingers(pagination.currPage, pagination.itemsPerPage)">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-click="toggleSelectAll('singer-table')" ng-checked="isSelectAllModel">
                </th>
                <th>序号</th>
                <th>歌手名</th>
                <th>分类</th>
                <th>语种</th>
                <th>歌手简介</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="singer in singers">
                <td>
                    <input type="checkbox" name="item-check" ng-click="toggleSelect($event, singer.id)">
                </td>
                <td>{{(pagination.currPage-1)*pagination.itemsPerPage + $index + 1}}</td>
                <td class="name-td" ng-click="goToSingerPage(singer.id)">{{singer.singer_name}}</td>
                <td>{{singer.singer_type_text}}</td>
                <td>{{singer.language_text}}</td>
                <td>{{singer.singer_info}}</td>
                <td>
                    <a ui-sref="admin.singers.editSinger({singerId:{{singer.id}}})"><i class="fa fa-edit"></i></a>
                    <i class="fa fa-trash" ng-click="deleteSinger(singer.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <uib-pagination ng-if="pagination.totalItems>0" total-items="pagination.totalItems" ng-model="pagination.currPage"
                    max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage" class="pagination-sm pull-right"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    boundary-links="true" force-ellipses="true" ng-change="pageChanged(getSingers, keyword)"></uib-pagination>
</div>