<!-- MyMusic view -->
<header ng-include="'app/views/templates/header.html'" class="g-header" ng-controller="HeaderCtrl"></header>

<div class="g-body">
    <div id="g-admin" class="container g-container" ng-controller="AdminCtrl">
        <!--<div class="g-menu" data-ng-init="loadMenus()">-->
            <!--<showMenu></showMenu>-->
        <!--</div>-->
        <!--<div class="g-content" data-ng-init="loadContent()" ng-switch="{{page}}">-->
            <!--<ANY ng-switch-when="matchValue1">...</ANY>-->
            <!--<ANY ng-switch-when="matchValue2">...</ANY>-->
            <!--<ANY ng-switch-default>...</ANY>-->
        <!--</div>-->
        <div class="g-menu">

        </div>
        <div class="g-content"></div>
    </div>
</div>

<footer ng-include="'app/views/templates/footer.html'" class="g-footer"></footer>