<!DOCTYPE html>
<html lang="en" ng-app="musicApp">
<head>
    <!--<base href="/">-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基于AngularJS的在线音乐网站</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bower:css -->
    <!--<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />-->
    <!-- endbower -->
    <link rel="stylesheet" href="./app/styles/app.min.css">
    <script src="./app/scripts/vendor.bundle.min.js"></script>
    <style>
        h1 {
            font-family: 'Glyphicons Halflings';
        }
    </style>
</head>
<body>
    <div class="wrap" ng-view>

    </div>

    <!-- bower:js -->
    <!-- endbower -->
    <script src="./app/scripts/app.bundle.min.js"></script>
</body>
</html>